@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 222, 222, 222;
  --background-rgb: 37, 37, 37; /* #252525 - dark charcoal */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
} 